In [ ]:
'''
Hello sir ,

I would like to bring to your attention that I inadvertently used the eval() function in my assignment.
I understand the concerns regarding its potential security risks and acknowledge that its usage was not 
appropriate in this context.
I kindly request that my use of eval() be disregarded during the evaluation of my assignment, and I 
assure you that I will adhere to best practices and guidelines in future assignments.

Thank you for your understanding.

Yours sincerely,
AKSHAT SAXENA
'''

In [2]:
# String Based Assignment Problem

In [2]:
'''Q1 Write a program to reverse a string.'''

s = input("Enter a string :")
reverse_string=s[::-1]
print("Reversed string is ",reverse_string)

Enter a string : My name is Akshat Saxena.

Reversed string is  .anexaS tahskA si eman yM

In [3]:
'''Q2 Check if a string is a palindrome.'''

k = input("Enter a string :")
removed_whitespaces = k.replace(" ", "").lower()
reversed = removed_whitespaces[::-1]
if reversed == removed_whitespaces:
    print("The input string is a palindrome.")
else:
    print("The input string is not a palindrome.")

Enter a string : Hello , How are you?

The input string is not a palindrome.

In [4]:
'''Q3 Convert a string to uppercase.'''

a = input("Enter a string :")
uppercase_string = a.upper()
print("Uppercase string is ",uppercase_string)

Enter a string : My name is Akshat Saxena.

Uppercase string is  MY NAME IS AKSHAT SAXENA.

In [2]:
'''Q4 Convert a string to lowercase.'''

a = input("Enter a string :")
lowercase_string = a.lower()
print("Lowercase string is ",lowercase_string)

Enter a string : My name is Akshat Saxena.

Lowercase string is  my name is akshat saxena.

In [3]:
'''Q5 Count the number of vowels in a string.'''

b = input("Enter a string :")
vowels = b.count("A") + b.count("E") + b.count("I") + b.count("O") + b.count("U") + b.count("a") + b.count("e") + b.count("i") + b.count("o") + b.count("u")
print("Number of vowels in string provided is ",vowels)

Enter a string : Hey! How are you doing?

Number of vowels in string provided is  8

In [15]:
'''Q6 Count the number of consonants in a string.'''

consonant = 0
s = input("Enter a string :")
length = len(s)
v = "BCDFGHJKLMNPQRSTVWXYZbcdfghjklmnpqrstvwxyz"
for i in range(length):
    if s[i] in v:
        consonant += 1
print("Number of consonants in string provided is ",consonant)

Enter a string : My name is Akshat Saxena.

Number of consonants in string provided is  12

In [16]:
'''Q7 Remove all whitespaces from a string.'''

string = input("Enter a string :")
modified_string = ""
for i in string:
    if i != " ":
        modified_string += i
print("Modified string without spaces is ",modified_string)

Enter a string : My name is Akshat Saxena.

Modified string without spaces is  MynameisAkshatSaxena.

In [17]:
'''Q8 Find the length of a string without using the `len()` function.'''

count = 0
string = input("Enter a string :")
for i in string:
    count += 1
print("Length of string provided is ",count)

Enter a string : My name is Akshat Saxena.

Length of string provided is  25

In [20]:
'''Q9 Check if a string contains a specific word.'''

string = input("Enter a string :")
word = input("Enter the specific word to be checked :")
if word in string:
    print(word ,"is present in string")
else:
    print(word ,"is not present in string")

Enter a string : My name is Akshat Saxena.
Enter the specific word to be checked : IS

IS is not present in string

In [22]:
'''Q10 Replace a word in a string with another word.'''

string = input("Enter a string :")
word = input("Enter the specific word to be replaced :")
new_word = input("Enter the new word :")
replace_string = string.replace(word , new_word)
print("New string with replaced word is ",replace_string)

Enter a string : Today is Sunday.
Enter the specific word to be replaced : Sunday
Enter the new word : Monday

New string with replaced word is  Today is Monday.

In [30]:
'''Q11 Count the occurrences of a word in a string.'''

word_count = 0
string = input("Enter a string :")
word = input("Enter the word to be counted :")
f = string.split()
for i in range(len(f)):
    if word == f[i]:
        word_count += 1    
print("The occurances of", word ,"in string provided is",word_count)

Enter a string : I daily go to school . I love my schooling .
Enter the word to be counted : school

The occurances of school in string provided is 1

In [33]:
'''Q12 Find the first occurrence of a word in a string.'''

string = input("Enter a string :")
word = input("Enter the word to be searched :")
o = string.find(word)
if o == -1:
    print("Entered word is not in string")
else:
    print("The first occurance of" ,word ,"is" ,o)

Enter a string : My name is Akshat Saxena.
Enter the word to be searched : Akshat

The first occurance of Akshat is 11

In [13]:
'''Q13 Find the last occurrence of a word in a string.'''

string = input("Enter a string :")
length = len(string)
word = input("Enter the word to be searched :")
reverse_string = string[::-1]
l = reverse_string.find(word[::-1])
if l == -1:
    print("Entered word is not in string")
else:
    print("The last occurance of" ,word ,"is" ,length - l -len(word))

Enter a string : Hello Hello eyes on screen . If eyes focus over then their will be a mistake .
Enter the word to be searched : Hello

The last occurance of Hello is 6

In [17]:
'''Q14 Split a string into a list of words.'''

string = input("Enter a string :")
word_split = input("Enter the word to split the string on :")
l = string.split(word_split)
print("Splitted string is ",l)

Enter a string : My name is Akshat Saxena .
Enter the word to split the string on :

Splitted string is  ['My', 'name', 'is', 'Akshat', 'Saxena', '.']

In [20]:
'''Q15 Join a list of words into a string.'''

list_of_words = eval(input("Enter list of words :"))
joined = ' '.join(list_of_words)
print("Joined list of words into a string is ",joined)

Enter list of words : ["I", "study", "in", "PW SKILLS"]

Joined list of words into a string is  I study in PW SKILLS

In [24]:
'''Q16 Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

string = input("Enter a string separated by spaces :")
print("String separated by spaces is ",string)
underscore = string.replace(" ","_")
print("String separated by underscores is ",underscore)

Enter a string separated by spaces : My name is Akshat Saxena .

String separated by spaces is  My name is Akshat Saxena .
String separated by underscores is  My_name_is_Akshat_Saxena_.

In [27]:
'''Q17 Check if a string starts with a specific word or phrase.'''

string = input("Enter a string :")
word = input("Enter a word or phrase :")
check = string.startswith(word)
if check == True:
    print("The string starts with ", word)
else:
    print("The string does not starts with ", word)

Enter a string : I study in PW SKILLS
Enter a word or phrase : study

The string does not starts with  study

In [28]:
'''Q18 Check if a string ends with a specific word or phrase.'''

string = input("Enter a string :")
word = input("Enter a word or phrase :")
check = string.endswith(word)
if check == True:
    print("The string ends with ", word)
else:
    print("The string does not ends with ", word)

Enter a string : I study in PW SKILLS
Enter a word or phrase : PW SKILLS

The string ends with  PW SKILLS

In [29]:
'''Q19 Convert a string to title case (e.g., "hello world" to "Hello World").'''

string = input("Enter a string :")
t = string.title()
print("Title cased string is",t)

Enter a string : I study in PW SKILLS

Title cased string is I Study In Pw Skills

In [3]:
'''Q20 Find the longest word in a string.'''

string = input("Enter a string :")
L =[]
k = string.split()
for i in range(len(k)):
    L.append(len(k[i]))
    max_num = max(L)
    index_word = L.index(max_num)
print("The longest word in the string provided is", k[index_word])

Enter a string : My name is Akshat Saxena .

The longest word in the string provided is Akshat

In [7]:
'''Q21 Find the shortest word in a string.'''

string = input("Enter a string :")
L =[]
k = string.split()
for i in range(len(k)):
    L.append(len(k[i]))
    min_num = min(L)
    index_word = L.index(min_num)
print("The shortest word in the string provided is", k[index_word])

Enter a string : Hello I am your friend

The shortest word in the string provided is I

In [15]:
'''Q22 Reverse the order of words in a string.'''

string = input("Enter a string :")
reverse_string = ""
k = string.split()
for i in k :
    reverse_string += i[::-1]
    reverse_string += " "
print("String after reversing the order of words is", reverse_string)

Enter a string : My name is Akshat Saxena .

String after reversing the order of words is yM eman si tahskA anexaS .

In [16]:
'''Q23 Check if a string is alphanumeric.'''

string = input("Enter a string :")
check = string.isalnum()
if check:
    print("String is alphanumeric")
else:
    print("String is not alphanumeric")

Enter a string : My name is Akshat Saxena .

String is not alphanumeric

In [17]:
'''Q24 Extract all digits from a string.'''

string = input("Enter a string :")
digit = " "
for i in string :
    if i.isdigit() :
        digit += i
print("Extracted digits from string are", digit)

Enter a string : I am 18 years old . I study in class 12th .

Extracted digits from string are  1812

In [19]:
'''Q25 Extract all alphabets from a string.'''

string = input("Enter a string :")
alphabets = " "
for i in string :
    if i.isalpha() :
        alphabets += i
print("Extracted alphabets from string are", alphabets)

Enter a string : I am 18 years old . I study in class 12th .

Extracted alphabets from string are  IamyearsoldIstudyinclassth

In [22]:
'''Q26 Count the number of uppercase letters in a string.'''

string = input("Enter a string :")
count = 0
for i in string :
    if i.isupper() :
        count += 1
print("The number of uppercase letters in the string are", count)

Enter a string : My name is Akshat Saxena .

The number of uppercase letters in the string are 3

In [23]:
'''Q27 Count the number of lowercase letters in a string.'''

string = input("Enter a string :")
count = 0
for i in string :
    if i.islower() :
        count += 1
print("The number of lowercase letters in the string are", count)

Enter a string : My name is Akshat Saxena .

The number of lowercase letters in the string are 17

In [1]:
'''Q28 Swap the case of each character in a string.'''

string = input("Enter a string :")
new_string = ""
for i in string :
    new_string += i.swapcase()
print("Swapped case string is", new_string)

Enter a string : My name is Akshat Saxena .

Swapped case string is mY NAME IS aKSHAT sAXENA .

In [2]:
'''Q29 Remove a specific word from a string.'''

string = input("Enter a string :")
new_string = ""
a = True
while a :
    word = input("Enter a word to be removed :")
    if word in string.split() :
        a = False
    else :
        print("Enter valid word to be removed")
s = string.split()
for i in s :
    if i != word :
        new_string += i
        new_string += " "
print("String after removing specific word is", new_string)

Enter a string : My name is Akshat Saxena .
Enter a word to be removed : ym

Enter valid word to be removed

Enter a word to be removed : Ak

Enter valid word to be removed

Enter a word to be removed : Akshat

String after removing specific word is My name is Saxena .

In [8]:
'''Q30 Check if a string is a valid email address.'''

import re

def check_valid_email(email) :
    regular_pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
    if re.match(regular_pattern , email) :
        return "valid email"
    else :
        return "invalid email"

email_1 = "hello@email.com"
email_2 = "invalid*email"
output_1 = check_valid_email(email_1)
output_2 = check_valid_email(email_2)
print("email_1 is ", output_1)
print("email_2 is ", output_2)

email_1 is  valid email
email_2 is  invalid email

In [10]:
'''Q31 Extract the username from an email address string.'''


def extract_username(e):
    u = e.split("@")[0]
    return u

email = input("Enter a email address :")
username = extract_username(email)
print("Username is ", username)

Enter a email address : akshat@email.com

Username is  akshat

In [12]:
'''Q32 Extract the domain name from an email address string.'''

def extract_domain_name(e):
    d = e.split("@")[1]
    return d

email = input("Enter a email address :")
domain_name = extract_domain_name(email)
print("Domain name is ", domain_name)

Enter a email address : akshat@email.com

Domain name is  email.com

In [17]:
'''Q33 Replace multiple spaces in a string with a single space.'''

def replace_multiple_spaces(s) :
    new_string = " ".join(s.split())
    return new_string
    
string = input("Enter a string :") # "  akshat hello    how  are you    "
output = replace_multiple_spaces(string)
print("String after replacing multiple spaces is ",output)

Enter a string :   akshat hello    how  are you

String after replacing multiple spaces is  akshat hello how are you

In [18]:
'''Q34 Check if a string is a valid URL.'''

from urllib.parse import urlparse
def check_valid_url(url):
    try :
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError :
        return False

url_1 = "https://www.youtube.com/"
url_2 = "invalid*url"
output_1 = check_valid_url(url_1)
output_2 = check_valid_url(url_2)
print("url_1 is ", output_1)
print("url_2 is ", output_2)

url_1 is  True
url_2 is  False

In [24]:
'''Q35 Extract the protocol (http or https) from a URL string.'''

def extract_protocol(url) :
    index = url.find("://")
    if index != -1 :
        return url[:index]
    else :
        return "No protocol"
            
url_1 = input("Enter 1st url :")
url_2 = input("Enter 2nd url :")
url_3 = input("Enter 3rd url :")

protocol_1 = extract_protocol(url_1)
protocol_2 = extract_protocol(url_2)
protocol_3 = extract_protocol(url_3)

print("Protocol 1 is ",protocol_1)
print("Protocol 2 is ",protocol_2)
print("Protocol 3 is ",protocol_3)

Enter 1st url : http://www.hello.com
Enter 2nd url : ftp://ftp.game.com
Enter 3rd url : https://youtube.com

Protocol 1 is  http
Protocol 2 is  ftp
Protocol 3 is  https

In [17]:
'''Q36 Find the frequency of each character in a string.'''

string = input("Enter a string :")
new_string = ""
dictionary = {}
for i in string :
    if i not in new_string :
        dictionary[i] = 1
        new_string += i
    else :
        dictionary.update({i : dictionary[i] + 1})
for i , k in dictionary.items() :
    print("Frequency of ", i ,":" , k)

Enter a string : helloworld

Frequency of  h : 1
Frequency of  e : 1
Frequency of  l : 3
Frequency of  o : 2
Frequency of  w : 1
Frequency of  r : 1
Frequency of  d : 1

In [11]:
'''Q37 Remove all punctuation from a string.'''

import string
def remove_puntuations(input_string) :
    translator = str.maketrans("","",string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string
    
input_string = input("Enter a string :")
cleaned_string = remove_puntuations(input_string)
print("Original string :",input_string)
print("Cleaned string :",cleaned_string)

Enter a string : Hello, Rahul! What's up?

Original string : Hello, Rahul! What's up?
Cleaned string : Hello Rahul Whats up

In [12]:
'''Q38 Check if a string contains only digits.'''

string = input("Enter a string :")
if string.isdigit() :
    print("String contains only digits")
else :
    print("String does not contains only digits")

Enter a string : 12345

String contains only digits

In [13]:
'''Q39 Check if a string contains only alphabets.'''

string = input("Enter a string :")
if string.isalpha() :
    print("String contains only alphabets")
else :
    print("String does not contains only alphabets")

Enter a string : My name is Akshat Saxena .

String does not contains only alphabets

In [15]:
'''Q40 Convert a string to a list of characters.'''

string = input("Enter a string :")
convert = list(string)
print("Converted string to a list of characters :",convert)

Enter a string : My name is Akshat Saxena .

Converted string to a list of characters : ['M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'k', 's', 'h', 'a', 't', ' ', 'S', 'a', 'x', 'e', 'n', 'a', ' ', '.']

In [21]:
''' Q41 Check if two strings are anagrams.'''

string_1 = input("Enter 1st string :") #worth
string_2 = input("Enter 2nd string :") #throw
new_string1 = ""
new_string2 = ""
dictionary_1 = {}
dictionary_2 = {}

#Checking 1st string
for i in string_1 :
    if i not in new_string1 :
        dictionary_1[i] = 1
        new_string1 += i
    else :
        dictionary_1.update({i : dictionary_1[i] + 1})
        
#Checking 2nd string
for i in string_2 :
    if i not in new_string2 :
        dictionary_2[i] = 1
        new_string2 += i
    else :
        dictionary_2.update({i : dictionary_2[i] + 1})
        
#Comparing both dictionaries
if dictionary_1 == dictionary_2 :
    print("Both strings are amagrams")
else :
    print("Bothe strings are not amagrams")

Enter 1st string : bored
Enter 2nd string : robed

Both strings are amagrams

In [26]:
'''Q42 Encode a string using a Caesar cipher.'''

#defining function Caesar_cipher
def Caesar_cipher(text , shift) :
    encoded_text = ""
    for char in text :
        if char.isalpha() :
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else :
            encode_char = char
        
        encoded_text += encoded_char
    
    return encoded_text
    
#Defining the input text and shift value for encoding
string = input("Enter a string to encode :")
shift = int(input("Enter shift value for encoding :"))

#Calling function Caesar_cipher
encoded_text = Caesar_cipher(string , shift)
            
#Printing the encoded text
print("Encoded text :", encoded_text)

Enter a string to encode : Akshat Saxena
Enter shift value for encoding : 2

Encoded text : wmujcvvoczgpc

In [29]:
'''Q43 Decode a Caesar cipher encoded string.'''

#Defining function Caesar_cipher_decode
def Caesar_cipher_decode(text , shift) :
    decoded_text = ""
    for char in text :
        if char.isalpha() :
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else :
            decoded_char = char
        
        decoded_text += decoded_char
        
    return decoded_text


#defining input text and shift value for decoding
string = input("Enter a string to decode :")
shift = int(input("Enter shift value for decoding :"))

#Calling function Caesar_cipher_decode
decoded_text = Caesar_cipher_decode(string , shift)

#Printing the decoded text
print("Decoded text :", decoded_text)

Enter a string to decode : hello how are you
Enter shift value for decoding : 2

Decoded text : fcjjm fmu ypc wms

In [6]:
'''Q44 Find the most frequent word in a string.'''

string = input("Enter a string :")
arrange_words = string.split()
frequency = {}
for i in arrange_words :
    if i in frequency :
        frequency[i] += 1
    else :
        frequency[i] = 1

frequent = max(frequency.values())
for i in frequency :
    if frequency[i] == frequent :
        print("Most frequent word is ", i ," with ", frequent ,"times repetition")

Enter a string : Hello world Let's play world Go world

Most frequent word is  world  with  3 times repetition

In [10]:
'''Q45 Find all unique words in a string.'''

string = input("Enter a string :")
arrange_words = string.split()
unique_words = set()
for i in arrange_words :
    unique_words.add(i)
    
print("All unique words in string are :")
for i in unique_words :
    print(i)

Enter a string : I felt happy because I saw the others were happy and because I knew I should feel happy, but I wasn't really happy.

All unique words in string are :
felt
the
feel
others
were
really
saw
because
happy,
wasn't
and
but
happy.
I
knew
happy
should

In [16]:
'''Q46 Count the number of syllables in a string.'''

def syllables(string) :
    arrange_words = string.split()
    count = 0
    for word in arrange_words :
        for char in word :
            if char in ["a","e","i","o","u","A","E","I","O","U"] :
                count += 1
    return count
string1 = input("Enter 1st string :")
string2 = input("Enter 2nd string :")

syllable_1 = syllables(string1)
syllable_2 = syllables(string2)


print("The number of syllables in the", string1, " are ", syllable_1)
print("The number of syllables in the ", string2, "are  ", syllable_2)

Enter 1st string : Mat
Enter 2nd string : Game

The number of syllables in the Mat  are  1
The number of syllables in the  Game are   2

In [18]:
'''Q47 Check if a string contains any special characters.'''

import re

def check_special_characters(string) :
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(string)
    return bool(match)

string_1 = input("Enter 1st string :")
string_2 = input("Enter 2nd string :")

result_1 = check_special_characters(string_1)
result_2 = check_special_characters(string_2)

print(f"'{string_1}' contains special characters:", result_1)
print(f"'{string_2}' contains special characters:", result_2)

Enter 1st string : Hello! How are you?
Enter 2nd string : Let's go! It's showtime .

'Hello! How are you?' contains special characters: True
'Let's go! It's showtime .' contains special characters: True

In [19]:
'''Q48 Remove the nth word from a string.'''

string = input("Enter a string :")
nth_value = int(input("Enter nth word to be removed :"))
arrange_words = string.split()
if nth_value >=1 and nth_value <= len(arrange_words) :
    removed_word = arrange_words.pop(nth_value-1)
    cleaned_string = " ".join(arrange_words)
print("Original string :", string)
print("Cleaned string :", cleaned_string)
print("Removed word :", removed_word)

Enter a string : Please bring your books with you to every class.
Enter nth word to be removed : 3

Original string : Please bring your books with you to every class.
Cleaned string : Please bring books with you to every class.
Removed word : your

In [27]:
'''Q49 Insert a word at the nth position in a string.'''

string = input("Enter a string :")
nth_value = int(input("Enter nth value to insert word :"))
word = input("Enter word to be inserted :")
arrange_words = string.split()
if nth_value >=1 and nth_value <= len(arrange_words) :
    arrange_words.insert(nth_value - 1 , word)
    cleaned_string = " ".join(arrange_words)
print("Original string :", string)
print("Cleaned string :", cleaned_string)

Enter a string : Please bring books with you to every class.
Enter nth value to insert word : 3
Enter word to be inserted : your

Original string : Please bring books with you to every class.
Cleaned string : Please bring your books with you to every class.

In [41]:
'''Q50 Convert a CSV string to a list of lists.'''

def csv_string_list(string) :
    new_list = []
    lines = string.split("\n")
    for line in lines:
        fields = line.split(",")
        new_list.append(fields)

    return new_list

string = "Roll No., Name, Marks\n01, Rahul, 79\n02, Sonu, 89"
list_of_lists = csv_string_list(string)

for row in list_of_lists :
    print(row)

['Roll No.', ' Name', ' Marks']
['01', ' Rahul', ' 79']
['02', ' Sonu', ' 89']

In [3]:
# List based practice problem

In [4]:
'''Q1 Create a list with integers from 1 to 10.'''

lst = []
for i in range(1,11) :
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
'''Q2 Find the length of a list without using the `len()` function.'''

lst = eval(input("Enter a list :"))
count = 0
for i in lst :
    count += 1
print("Length of list provided :", count)

Enter a list : [2,4,6,8,10,12]

Length of list provided : 6

In [7]:
'''Q3 Append an element to the end of a list. '''

lst = eval(input("Enter a list :"))
element = int(input("Enter a element to be appended :"))
lst.append(element)
print("List after updation :", lst)

Enter a list : [1,3,5,7,9,11]
Enter a element to be appended : 13

List after updation : [1, 3, 5, 7, 9, 11, 13]

In [8]:
'''Q4 Insert an element at a specific index in a list.'''

lst = eval(input("Enter a list :"))
element = int(input("Enter a element to be inserted :"))
index = int(input("Enter index to insert element :"))
lst.insert(index , element)
print("List after updation :", lst)

Enter a list : [1,2,3,5,6,7,8,9,10]
Enter a element to be inserted : 4
Enter index to insert element : 3

List after updation : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
'''Q5 Remove an element from a list by its value.'''

lst = eval(input("Enter a list :"))
element = eval(input("Enter element to be removed :"))
lst.remove(element)
print("List after updation :",lst)

Enter a list : [2,4,5,6,8,10,12]
Enter element to be removed : 5

List after updation : [2, 4, 6, 8, 10, 12]

In [10]:
'''Q6 Remove an element from a list by its index.'''

lst = eval(input("Enter a list :"))
index = int(input("Enter index of element to be removed :"))
lst.pop(index)
print("List after updation :",lst)

Enter a list : [1,3,5,7,8,9,11]
Enter index of element to be removed : 4

List after updation : [1, 3, 5, 7, 9, 11]

In [14]:
'''Q7 Check if an element exists in a list.'''

lst = eval(input("Enter a list :"))
element = eval(input("Enter element to check it's existence in list :"))
if element in lst :
    print(element ,"exists in list")
else :
    print(element ,"does not exist in list")

Enter a list : [1,2,3,4,5,6,7,8,9,10]
Enter element to check it's existence in list : 7

7 exists in list

In [17]:
'''Q8 Find the index of the first occurrence of an element in a list.'''

lst = eval(input("Enter a list :"))
element = eval(input("Enter element to find it's index :"))
index = lst.index(element)
print(f"index of {element} : {index}")

Enter a list : ["pw","skills","wallah","game","akshat","saxena","skills","game","hi"]
Enter element to find it's index : "game"

index of game : 3

In [18]:
'''Q9 Count the occurrences of an element in a list.'''

lst = eval(input("Enter a list :"))
element = eval(input("Enter element to count it's number of occurence :"))
count = lst.count(element)
print(f"Number of occurence of {element} : {count}")

Enter a list : ["pw","skills","wallah","game","akshat","saxena","skills","game","hi"]
Enter element to count it's number of occurence : "game"

Number of occurence of game : 2

In [21]:
''' Q10 Reverse the order of elements in a list.'''

lst = eval(input("Enter a list :"))
lst.reverse()
print(f"Reversed list {lst}")

Enter a list : ["pw","skills","wallah","game","akshat","saxena","skills","game","hi"]

Reversed list ['hi', 'game', 'skills', 'saxena', 'akshat', 'game', 'wallah', 'skills', 'pw']

In [2]:
'''Q11 Sort a list in ascending order.'''

lst = eval(input("Enter a list :"))
lst.sort()
print(f"List in ascending order : {lst}")

Enter a list : [4,3,10,6,8,7,5,1,2,9]

List in ascending order : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
'''Q12 Sort a list in descending order.'''

lst = eval(input("Enter a list :"))
lst.sort(reverse=True)
print(f"List in ascending order : {lst}")

Enter a list : [4,3,10,6,8,7,5,1,2,9]

List in ascending order : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
'''Q13 Create a list of even numbers from 1 to 20.'''

lst = []
for i in range(1,21) :
    if i%2 == 0 :
        lst.append(i)
print("List of even numbers from 1 to 20 :", lst)

List of even numbers from 1 to 20 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
'''Q14 Create a list of odd numbers from 1 to 20.'''

lst = []
for i in range(1,21) :
    if i%2 != 0 :
        lst.append(i)
print("List of odd numbers from 1 to 20 :", lst)

List of odd numbers from 1 to 20 : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
'''Q15 Find the sum of all elements in a list.'''

from functools import reduce 

sum = 0
lst = eval(input("Enter a list :"))
sum_element = reduce(lambda a,b : a + b , lst)
print("Sum of all elements of list :", sum_element)

Enter a list : [1,2,3,4,5,6,7,8,9,10]

Sum of all elements of list : 55

In [12]:
'''Q16 Find the maximum value in a list.'''

lst = eval(input("Enter a list :"))
max_value = max(lst)
print("Maximum value in ", lst ,":", max_value)

Enter a list : [1,2,3,4,5,6,7,8,9,10]

Maximum value in  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] : 10

In [13]:
'''Q17 Find the minimum value in a list.'''

lst = eval(input("Enter a list :"))
min_value = min(lst)
print("Minimum value in ", lst ,":", min_value)

Enter a list : [1,2,3,4,5,6,7,8,9,10]

Minimum value in  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] : 1

In [14]:
'''Q18 Create a list of squares of numbers from 1 to 10.'''

lst = eval(input("Enter a list from 1 to 10 :"))
squares_list = list(map(lambda i : i**2 , lst))
print("List of squares of numbers from 1 to 10 :", squares_list)

Enter a list from 1 to 10 : [1,2,3,4,5,6,7,8,9,10]

List of squares of numbers from 1 to 10 : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
'''Q19 Create a list of random numbers.'''

import random

lst =[]
for i in range(10) :
    lst += [random.randint(1,1001)]
print("List of random numbers :",lst)

List of random numbers : [40, 706, 801, 52, 341, 633, 161, 158, 35, 88]

In [17]:
'''Q20 Remove duplicates from a list.'''

s = set()
lst = eval(input("Enter a list with duplicate elements :"))
for i in lst :
    s.add(i)
print("List with duplicate elements removed :", list(s))

Enter a list with duplicate elements : [2,3,4,5,5,5,2,6,7,2,1,4,5,6,8]

List with duplicate elements removed : [1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
'''Q21 Find the common elements between two lists.'''

lst_1 = eval(input("Enter 1st list :"))
lst_2 = eval(input("Enter 2nd list :"))
new_lst = []
print("Common elements between two lists :")
for i in lst_1 :
    for j in lst_2 :
        if i == j :
            if i in new_lst :
                continue
            else :
                new_lst.append(i)
if len(new_lst) == 0 :
    print("No element is common")
for i in new_lst :
    print(i)

Enter 1st list : [1,2,4,6,4,8,9,30,26]
Enter 2nd list : [26,33,56,6,4,7]

Common elements between two lists :
4
6
26

In [2]:
'''Q22 Find the difference between two lists.'''

lst_1 = eval(input("Enter 1st list :"))
lst_2 = eval(input("Enter 2nd list :"))
difference = list(set(lst_1).difference(lst_2))
print("Difference between both list :", difference)

Enter 1st list : ["Tokyo","Berlin","Paris","Rio"]
Enter 2nd list : ["Berlin","India","Rio"]

Difference between both list : ['Tokyo', 'Paris']

In [3]:
'''Q23 Merge two lists.'''

lst_1 = eval(input("Enter 1st list :"))
lst_2 = eval(input("Enter 2nd list :"))
merge_lst = lst_1 + lst_2
print("New list after merging to lists :", merge_lst)

Enter 1st list : ["Tokyo","Berlin","Paris","Rio"]
Enter 2nd list : ["Berlin","India","Rio"]

New list after merging to lists : ['Tokyo', 'Berlin', 'Paris', 'Rio', 'Berlin', 'India', 'Rio']

In [6]:
'''Q24 Multiply all elements in a list by 2.'''

lst = eval(input("Enter a list :"))
new_list = list(map(lambda i : i*2 , lst))
print("List after multiplying all elements by 2 :", new_list)

Enter a list : ["Tokyo","Berlin","Paris","Rio"]

List after multiplying all elements by 2 : ['TokyoTokyo', 'BerlinBerlin', 'ParisParis', 'RioRio']

In [11]:
'''Q25 Filter out all even numbers from a list.'''

lst = eval(input("Enter a list which contains numbers :"))
even_lst = list(filter(lambda i : i%2 == 0 , lst))
print("All even numbers in list :", even_lst)

Enter a list which contains numbers : [1,2,5,8,10,45,36,79,50,35,4]

All even numbers in list : [2, 8, 10, 36, 50, 4]

In [12]:
'''Q26 Convert a list of strings to a list of integers.'''

lst = eval(input("Enter a list of strings :"))
integer_lst = list(map(lambda i : int(i) , lst))
print("List of integers :", integer_lst)

Enter a list of strings : ["10","30","2","5"]

List of integers : [10, 30, 2, 5]

In [13]:
'''Q27 Convert a list of integers to a list of strings.'''

lst = eval(input("Enter a list of integers :"))
string_lst = list(map(lambda i : str(i) , lst))
print("List of strings :", string_lst)

Enter a list of integers : [10, 30, 2, 5]

List of strings : ['10', '30', '2', '5']

In [15]:
'''Q28 Flatten a nested list.'''

nested_lst = eval(input("Enter a nested list :"))
flatten_lst = []
for lst in nested_lst :
    if type(lst) != type([]) :
        flatten_lst.append(lst)
        continue
    for element in lst :
        flatten_lst.append(element)
print("Flattened nested list :", flatten_lst)

Enter a nested list : [[2,3,4],6,[7,9,10],[8,12,14]]

Flattened nested list : [2, 3, 4, 6, 7, 9, 10, 8, 12, 14]

In [17]:
'''Q29 Create a list of the first 10 Fibonacci numbers.'''

def fib_num(n) :
    lst = [0,1]
    for i in range(2,n) :
        next_fib_num = lst[i-1] + lst[i-2]
        lst.append(next_fib_num)
    return lst

n = int(input("Enter number of fibnacci numbers you want :"))
lst = fib_num(n)
print("List of the first ",n ,"Fibnacci numbers :", lst)

Enter number of fibnacci numbers you want : 10

List of the first  10 Fibnacci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [40]:
'''Q30 Check if a list is sorted.'''

def check_lst_sorted(lst) :
    for i in range(1,len(lst)) :
        if lst[i] < lst[i-1] :
            return False
    return True

lst = eval(input("Enter a list :"))
if check_lst_sorted(lst) :
    print("List is sorted in ascending order")
else :
    print("List is not sorted in ascending order")

Enter a list : [1,4,7,8]

List is sorted in ascending order

In [42]:
'''Q31 Rotate a list to the left by `n` positions.'''

lst = eval(input("Enter a list :"))
n = int(input("Enter number of positions to rotate list to the left :"))
rotated_lst = lst[n:] + lst[0:n]
print(f"List rotated to left by {n} positions : {rotated_lst}")

Enter a list : [3,4,5,6,7,8,9,10,1,2,11]
Enter number of positions to rotate list to the left : 3

List rotated to left by 3 positions : [6, 7, 8, 9, 10, 1, 2, 11, 3, 4, 5]

In [44]:
'''Q32 Rotate a list to the right by `n` positions.'''

lst = eval(input("Enter a list :"))
n = int(input("Enter number of positions to rotate list to the right :"))
rotated_lst = lst[:n-1:-1] + lst[0:n]
print(f"List rotated to right by {n} positions : {rotated_lst}")

Enter a list : [3,4,5,6,7,8,9,10,1,2,11]
Enter number of positions to rotate list to the right : 3

List rotated to right by 3 positions : [11, 2, 1, 10, 9, 8, 7, 6, 3, 4, 5]

In [15]:
'''Q33 Create a list of prime numbers up to 50.'''

#defining function prime_num()
def prime_num() :
    #crating empty list for storing prime numbers
    lst = []     
    #giving range 1 to 40 as formula to calculate prime numbers is valid till 40
    for i in range(1,41) :
        #checking for 1 and negative numbers
        if i<=1 :
            continue
        #checking for numbers 2 and 3
        elif i<=3 :
            #adding prime numbers to list
            lst.append(i)
            continue
        #checking for left numbers
        elif i in (4,51) :
            #given this range as formula is applicable on this only
            for j in range(1,10) :
                #formula 1
                p_1 = (6*j) - 1
                #formula 2
                p_2 = (6*j) + 1
                #ignoring exceptions in formula
                if p_1 not in (25,35,49,53,55) :
                    #adding prime numbers to list 
                    lst.append(p_1)
                #ignoring exceptions in formula
                if p_2 not in (25,35,49,53,55) :
                    #adding elements to list
                    lst.append(p_2)
    #returning list of prime numbers upto 50
    return lst

#initializing n = 50
n = 50
#calling funcion pime_num()
prime_num_lst = prime_num()
#printing list of prime numbers upto 50
print(f"List of prime numbers upto {n} : ")
print(prime_num_lst)

List of prime numbers upto 50 :
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [25]:
'''Q34 Split a list into chunks of size `n`.'''

def chunk_list(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
        
lst = eval(input("Enter a list :"))
n = int(input("Enter size into which you want to split list :"))
chunked_list = list(chunk_list(lst, n))

print(f"List after splitting into chunks of {n} : {chunked_list}")

Enter a list : [1,2,3,4,5,6,7,8,9,10]
Enter size into which you want to split list : 3

List after splitting into chunks of 3 : [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [27]:
'''Q35 Find the second largest number in a list.'''

lst = eval(input("Enter a list :"))
max_num_1 = max(lst)
if max_num_1 in lst :
    lst.remove(max_num_1)
max_num_2 = max(lst)
print("Second largest number in list :", max_num_2)

Enter a list : [23,45,6,7,89,45,34,23,87,65,45,1,2,3,45,67]

Second largest number in list : 87

In [28]:
'''Q36 Replace every element in a list with its square.'''

lst = eval(input("Enter a list :"))
square_lst = list(map(lambda i : i**2 , lst))
print("Every element in list with its squares :", square_lst)

Enter a list : [1,2,3,4,5,6,7,8,9,10]

Every element in list with its squares : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
'''Q37 Convert a list to a dictionary where list elements become keys and their
indices become values.'''

lst = eval(input("Enter a list :"))
dictionary = dict()
for i in range(len(lst)) :
    dictionary[lst[i]] = i
print("List converted to dictionary :", dictionary)

Enter a list : ["Tokyo","Berlin","Rio","Paris"]

List converted to dictionary : {'Tokyo': 0, 'Berlin': 1, 'Rio': 2, 'Paris': 3}

In [30]:
'''Q38 Shuffle the elements of a list randomly.'''

import random 
lst = eval(input("Enter a list :"))
random.shuffle(lst)
print("List with shuffled elements :", lst)

Enter a list : ["Tokyo","Berlin","Rio","Paris"]

List with shuffled elements : ['Paris', 'Tokyo', 'Berlin', 'Rio']

In [12]:
'''Q39 Create a list of the first 10 factorial numbers.'''

def fact_lst(n) :
    if n == 0 :
        return 1
    else :
        return n*fact_lst(n-1)

n = int(input("Enter number of factorial numbers you want in a list (n - 1) :"))
lst = []
while n >= 0 :
    element = fact_lst(n)
    lst.append(element)
    n -= 1
lst.sort()
print(f"List of first {n} factorial numbers : {lst}")

Enter number of factorial numbers you want in a list (n - 1) : 9

List of first -1 factorial numbers : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [13]:
'''Q40 Check if two lists have at least one element in common.'''

lst_1 = eval(input("Enter 1st list :"))
lst_2 = eval(input("Enter 2nd list :"))
new_lst = []
for i in lst_1 :
    for j in lst_2 :
        if i == j :
            if i in new_lst :
                continue
            else :
                new_lst.append(i)
if len(new_lst) == 0 :
    print("No element is common")
else :
    print("Two lists have atleast one element in common ")

Enter 1st list : ["Tokyo","Rio","India","Berlin"]
Enter 2nd list : ["India","Rio","Paris"]

Two lists have atleast one element in common

In [17]:
'''Q41 Remove all elements from a list.'''

lst = eval(input("Enter a list :"))
length = len(lst)
for i in range(length) :
    lst.pop()
print("List after removing all the elements :", lst)

Enter a list : ["Tokyo","Rio","India","Berlin"]

List after removing all the elements : []

In [18]:
'''Q42 Replace negative numbers in a list with 0.'''

lst = eval(input("Enter a list :"))
for i in range(len(lst)) :
    if lst[i] < 0 :
        lst[i] = 0
print("List after updation :", lst)

Enter a list : [-2,56,-45,-3,3,4,-10]

List after updation : [0, 56, 0, 0, 3, 4, 0]

In [19]:
'''Q43 Convert a string into a list of words.'''

string = input("Enter a string :")
lst = string.split()
print("Conversion of string into a list of words :", lst)

Enter a string : My name is Akshat Saxena .

Conversion of string into a list of words : ['My', 'name', 'is', 'Akshat', 'Saxena', '.']

In [20]:
'''Q44 Convert a list of words into a string.'''

lst = eval(input("Enter a list of words :"))
string = " ".join(lst)
print("Conversion of list of words into string :",string)

Enter a list of words : ['My', 'name', 'is', 'Akshat', 'Saxena', '.']

Conversion of list of words into string : My name is Akshat Saxena .

In [21]:
'''Q45 Create a list of the first `n` powers of 2.'''

n = int(input("Enter number of powers of 2 list you want :"))
lst = []
for i in range(n) :
    lst.append(2**i)
print(f"List of first {n} powers of 2 : {lst}")

Enter number of powers of 2 list you want : 10

List of first 10 powers of 2 : [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [22]:
'''Q46 Find the longest string in a list of strings.'''

lst = eval(input("Enter a list of strings :"))
longest_string = max(list(map(lambda i : len(i) , lst)))
for i in lst :
    if len(i) == longest_string :
        print("Longest string in list of strings :", i)

Enter a list of strings : ["Tokyo","Rio","India","Berlin"]

Longest string in list of strings : Berlin

In [23]:
'''Q47 Find the shortest string in a list of strings.'''

lst = eval(input("Enter a list of strings :"))
shortest_string = min(list(map(lambda i : len(i) , lst)))
for i in lst :
    if len(i) == shortest_string :
        print("Shortest string in list of strings :", i)

Enter a list of strings : ["Tokyo","Rio","India","Berlin"]

Shortest string in list of strings : Rio

In [26]:
'''Q48 Create a list of the first `n` triangular numbers.'''

def triangular_numbers(n) :
    return [i * (i+1) // 2 for i in range(1,n+1)]

n = int(input("Enter number of first n triangular numbers you want :"))
lst = triangular_numbers(n)
print(f"List of the first {n} triangular numbers : {lst}")

Enter number of first n triangular numbers you want : 10

List of the first 10 triangular numbers : [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [5]:
'''Q49 Check if a list contains another list as a subsequence.'''

def check_subsequence(lst , subsequence) :
    index = 0
    for i in lst :
        if i == subsequence[index] :
            index += 1
            if index == len(subsequence) :
                return True
    return False
            

lst = eval(input("Enter a list :"))              
subsequence = eval(input("Enter another list :")) 

result = check_subsequence(lst,subsequence)
if result :
    print("List ccontains another list as subsequence")
else :
    print("List does not contain another list as subsequence")

Enter a list : [1,2,3,4,5,6,7,8,9,10]
Enter another list : [2,6,9]

List ccontains another list as subsequence

In [7]:
'''Q50 Swap two elements in a list by their indices.'''

lst = eval(input("Enter a list :"))
ele_1 = int(input("Enter element 1 to swap :"))
ele_2 = int(input("Enter element 2 to swap :"))
if ele_1 in lst and ele_2 in lst :
    index_1 = lst.index(ele_1)
    index_2 = lst.index(ele_2)
lst[index_1] = ele_2
lst[index_2] = ele_1
print("List after updation :", lst)

Enter a list : [1,2,3,5,4,6,7,8,9,10]
Enter element 1 to swap : 4
Enter element 2 to swap : 5

List after updation : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# Tuple Based Practice Problem :

In [12]:
'''Q1 Create a tuple with integers from 1 to 5.'''

lst = []
for i in range(1,6) :
    lst.append(i)
tup = tuple(lst)
print("Tuple containing integers from 1 to 5 :", tup)

Tuple containing integers from 1 to 5 : (1, 2, 3, 4, 5)

In [15]:
'''Q2 Access the third element of a tuple.'''

tup = eval(input("Enter a tuple :"))
index = int(input("Enter element number which you want to access :"))
element = tup[index-1]
print(f"Element : {element}")

Enter a tuple : (1,2,3,4,5,6,7,8,9,10)
Enter element number which you want to access : 3

Element : 3

In [16]:
'''Q3 Find the length of a tuple without using the `len()` function.'''

tup = eval(input("Enter a tuple :"))
count = 0
for i in list(tup) :
    count += 1
print("Length of tuple :", count)

Enter a tuple : (1,2,3,4,5,6,7,8,9,10)

Length of tuple : 10

In [18]:
'''Q4 Count the occurrences of an element in a tuple.'''

tup = eval(input("Enter a tuple :"))
element = eval(input("Enter element which you want to count occurrences :"))
count = tup.count(element)
print(f"Occurrences of {element} : {count}")

Enter a tuple : ("Berlin","Tokyo","Paris","Berlin","Rio","Berlin")
Enter element which you want to count occurrences : "Berlin"

Occurrences of Berlin : 3

In [20]:
'''Q5 Find the index of the first occurrence of an element in a tuple.'''

tup = eval(input("Enter a tuple :"))
element = eval(input("Enter element which you want to find first occurrence :"))
index = tup.index(element)
print(f"Index of first occurrence of {element} : {index}")

Enter a tuple : ("Berlin","Tokyo","Paris","Berlin","Rio","Berlin")
Enter element which you want to find first occurrence : "Paris"

Index of first occurrence of Paris : 2

In [21]:
'''Q6 Check if an element exists in a tuple.'''

tup = eval(input("Enter a tuple :"))
element = eval(input("Enter element to check :"))
if element in tup :
    print(f"{element} exists in tuple")
else :
    print(f"{element} does not exist in tuple")

Enter a tuple : ("Berlin","Tokyo","Paris","Berlin","Rio","Berlin")
Enter element to check : "Rio"

Rio exists in tuple

In [24]:
'''Q7 Convert a tuple to a list.'''

tup = eval(input("Enter a tuple :"))
lst_tup = list(tup)
print("Conversion of tuple to list ", lst_tup)

Enter a tuple : ('Berlin', 'Tokyo', 'Paris', 'Berlin', 'Rio', 'Berlin')

Conversion of tuple to list  ['Berlin', 'Tokyo', 'Paris', 'Berlin', 'Rio', 'Berlin']

In [23]:
'''Q8 Convert a list to a tuple.'''

lst = eval(input("Enter a list :"))
tup_lst = tuple(lst)
print("Conversion of list to tuple :", tup_lst)

Enter a list : ['Berlin', 'Tokyo', 'Paris', 'Berlin', 'Rio', 'Berlin']

Conversion of list to tuple : ('Berlin', 'Tokyo', 'Paris', 'Berlin', 'Rio', 'Berlin')

In [26]:
'''Q9 Unpack the elements of a tuple into variables.'''

tup = eval(input("Enter a tuple :"))
a,b,c,d = tup
print("Elements of tuple into variables :")
print("Variable_1 :", a)
print("Variable_1 :", b)
print("Variable_1 :", c)
print("Variable_1 :", d)

Enter a tuple : ("Berlin","Tokyo","Paris","Rio")

Elements of tuple into variables :
Variable_1 : Berlin
Variable_1 : Tokyo
Variable_1 : Paris
Variable_1 : Rio

In [27]:
'''Q10 Create a tuple of even numbers from 1 to 10.'''

lst = []
for i in range(1,11) :
    if i%2 == 0 :
        lst.append(i)
print("Tuple of even numbers :", tuple(lst))

Tuple of even numbers : (2, 4, 6, 8, 10)

In [28]:
'''Q11 Create a tuple of odd numbers from 1 to 10.'''

lst = []
for i in range(1,11) :
    if i%2 != 0 :
        lst.append(i)
print("Tuple of odd numbers :", tuple(lst))

Tuple of odd numbers : (1, 3, 5, 7, 9)

In [29]:
'''Q12 Concatenate two tuples.'''

tup_1 = eval(input("Enter 1st tuple :"))
tup_2 = eval(input("Enter 2nd tuple :"))
tup_3 = tup_1 + tup_2
print("Concatenation of two tuples :", tup_3)

Enter 1st tuple : (1,2,3)
Enter 2nd tuple : (4,5)

Concatenation of two tuples : (1, 2, 3, 4, 5)

In [30]:
'''Q13 Repeat a tuple three times.'''

tup = eval(input("Enter a tuple :"))
repeat_tup = tup * 3
print("Tuple repeated 3 times :", repeat_tup)

Enter a tuple : (1,2,3)

Tuple repeated 3 times : (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [34]:
'''Q14 Check if a tuple is empty.'''

tup = eval(input("Enter a tuple :"))
if tup == () :
    print("Tuple is empty")
else  :
    print("Tuple is not empty ")

Enter a tuple : (5,6,7)

Tuple is not empty

In [35]:
'''Q15 Create a nested tuple.'''

tup = eval(input("Create a nested tuple :"))
print("Nested tuple :", tup)

Create a nested tuple : ((1,3,5),("Berlin","Rio"),6,(True,))

Nested tuple : ((1, 3, 5), ('Berlin', 'Rio'), 6, (True,))

In [36]:
'''Q16 Access the first element of a nested tuple.'''

tup = eval(input("Enter a nested tuple :"))
index = int(input("Enter element number which you want to access :"))
element = tup[index-1]
print(f"Element : {element}")

Enter a nested tuple : ((1,3,5),("Berlin","Rio"),6,(True,))
Enter element number which you want to access : 1

Element : (1, 3, 5)

In [37]:
'''Q17 Create a tuple with a single element.'''

tup = eval(input("Create a tuple with single element :"))
print("Tuple with single element :", tup)

Create a tuple with single element : (2,)

Tuple with single element : (2,)

In [39]:
'''Q18 Compare two tuples.'''

tup_1 = eval(input("Enter 1st tuple :"))
tup_2 = eval(input("Enter 2nd tuple :"))
print("Tuple 1 == Tuple 2 :", tup_1 == tup_2)  
print("Tuple 1 != Tuple 2 :", tup_1 != tup_2)  
print("Tuple 1 > tTple 2 :", tup_1 > tup_2)
print("Tuple 1 < tTple 2 :", tup_1 < tup_2)  
print("Tuple 1 >= Tuple 2 :", tup_1 >= tup_2)    
print("Tuple 1 <= Tuple 2 :", tup_1 <= tup_2)

Enter 1st tuple : (2,4,5)
Enter 2nd tuple : (3,5,7)

Tuple 1 == Tuple 2 : False
Tuple 1 != Tuple 2 : True
Tuple 1 > tTple 2 : False
Tuple 1 < tTple 2 : True
Tuple 1 >= Tuple 2 : False
Tuple 1 <= Tuple 2 : True

In [40]:
'''Q19 Delete a tuple.'''

tup = eval(input("Enter a tuple :"))
del(tup)
print("Tuple deleted :", tup)

Enter a tuple : (1,2,3)

NameError: name 'tup' is not defined

In [41]:
'''Q20 Slice a tuple.'''

tup = eval(input("Enter a tuple :"))
slice_tup = tup[2:4]
print("Sliced tuple :", slice_tup)

Enter a tuple : ('Berlin', 'Tokyo', 'Paris', 'Berlin', 'Rio', 'Berlin')

Sliced tuple : ('Paris', 'Berlin')

In [42]:
'''Q21 Find the maximum value in a tuple.'''

tup = eval(input("Enter a tuple :"))
max_num = max(tup)
print("Maximum value in tuple :", max_num)

Enter a tuple : (2,45,6,735,6785,78,900)

Maximum value in tuple : 6785

In [43]:
'''Q22 Find the minimum value in a tuple.'''

tup = eval(input("Enter a tuple :"))
min_num = min(tup)
print("Minimum value in tuple :", min_num)

Enter a tuple : (2,45,6,735,6785,78,900)

Minimum value in tuple : 2

In [44]:
'''Q23 Convert a string to a tuple of characters.'''

string = input("Enter a string :")
tup_str = tuple(string)
print("Conversion of string to tuple of characters :", tup_str)

Enter a string : My name is Akshat Saxena .

Conversion of string to tuple of characters : ('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'k', 's', 'h', 'a', 't', ' ', 'S', 'a', 'x', 'e', 'n', 'a', ' ', '.')

In [47]:
'''Q24 Convert a tuple of characters to a string.'''

tup = eval(input("Enter a tuple :"))
str_tup = "".join(tup)
print("Conversion of tuple to a string of characters :", str_tup)

Enter a tuple : ('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'k', 's', 'h', 'a', 't', ' ', 'S', 'a', 'x', 'e', 'n', 'a', ' ', '.')

Conversion of tuple to a string of characters : My name is Akshat Saxena .

In [48]:
'''Q25 Create a tuple from multiple data types.'''

tup = eval(input("Create a tuple of multiple data types :"))
print("Tuple of multiple data types :", tup)

Create a tuple of multiple data types : (1,"Berlin",True,False,"Hi",45)

Tuple of multiple data types : (1, 'Berlin', True, False, 'Hi', 45)

In [50]:
'''Q26 Check if two tuples are identical.'''

tup_1 = eval(input("Enter 1st tuple :"))
tup_2 = eval(input("Enter 2nd tuple :"))
if tup_1 == tup_2 :
    print("Tuples are identical")
else :
    print("Tuples are not identical")

Enter 1st tuple : (1,2,3)
Enter 2nd tuple : (1,2,3)

Tuples are identical

In [60]:
'''Q27 Sort the elements of a tuple.'''

tup = eval(input("Enter a tuple :"))
sorted_tup = tuple(sorted(tup))
print("Sorted tuple :", sorted_tup)

Enter a tuple : (2,45,6,735,6785,78,900)

Sorted tuple : (2, 6, 45, 78, 735, 900, 6785)

In [1]:
'''Q28 Convert a tuple of integers to a tuple of strings.'''

int_tup = eval(input("Enter a tuple of integers :"))
str_lst = []
for i in list(int_tup) :
    str_lst += str(i)
str_tup = tuple(str_lst)
print("Tuple of strings :", str_tup)

Enter a tuple of integers : (1,2,3,4,5,6)

Tuple of strings : ('1', '2', '3', '4', '5', '6')

In [4]:
'''Q29 Convert a tuple of strings to a tuple of integers.'''

str_tup = eval(input("Enter a tuple of strings :"))
int_lst = []
for i in list(str_tup) :
    int_lst += [int(i)]
int_tup = tuple(int_lst)
print("Tuple of integers :", int_tup)

Enter a tuple of strings : ('1', '2', '3', '4', '5', '6')

Tuple of integers : (1, 2, 3, 4, 5, 6)

In [5]:
'''Q30 Merge two tuples.'''

tup_1 = eval(input("Enter 1st tuple :"))
tup_2 = eval(input("Enter 2nd tuple :"))
merge = tup_1 + tup_2
print("Merge of both tuples :", merge)

Enter 1st tuple : (1,2,3)
Enter 2nd tuple : (4,5,6)

Merge of both tuples : (1, 2, 3, 4, 5, 6)

In [7]:
'''Q31 Flatten a nested tuple.'''

nested_tup = eval(input("Enter a nested tuple :"))
flatten_lst = []
for tup in nested_tup :
    if type(tup) != type(()) :
        flatten_lst.append(tup)
        continue
    for element in tup :
        flatten_lst.append(element)
print("Flattened nested list :", tuple(flatten_lst))

Enter a nested tuple : ((1,2,3),6,("Berlin","Paris"),True)

Flattened nested list : (1, 2, 3, 6, 'Berlin', 'Paris', True)

In [11]:
'''Q32 Create a tuple of the first 5 prime numbers.'''

def check_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1) :
        if num % i == 0 :
            return False
    return True

n = int(input("Enter number of first prime numbers you want(max 100) :"))
prime_num_lst = [num for num in range(2, 100) if check_prime(num)][:n]

prime_num_tup = tuple(prime_num_lst)

print("Tuple of the first 5 prime numbers:", prime_num_tup)

Enter number of first prime numbers you want(max 100) : 5

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [15]:
'''Q33 Check if a tuple is a palindrome.'''    

def check_palindrome(lst) :
    if lst == lst[::-1] :
        return True
    else :
        return False

tup = eval(input("Enter a tuple :"))
result = check_palindrome(list(tup))
if result :
    print("Tuple is palindrome")
else :
    print("Tuple is not palindrome")

Enter a tuple : ("r","a","d","a","r")

Tuple is palindrome

In [18]:
'''Q34 Create a tuple of squares of numbers from 1 to 5.'''

lst_square = list(map(lambda i : i**2 , [1,2,3,4,5]))
print("Tuple of squares :", tuple(lst_square))

Tuple of squares : (1, 4, 9, 16, 25)

In [19]:
'''Q35 Filter out all even numbers from a tuple.'''

tup = eval(input("Enter a tuple :"))
even_lst = []
for i in list(tup) :
    if i % 2 == 0 :
        even_lst += [i]
print("All even numbers from tuple :", tuple(even_lst))

Enter a tuple : (1,2,3,4,5,6,7,8,9,10)

All even numbers from tuple : (2, 4, 6, 8, 10)

In [20]:
'''Q36 Multiply all elements in a tuple by 2.'''

tup = eval(input("Enter a tuple :"))
mult_tup = tuple(map(lambda i : i*2 , tup))
print("Each element multiplied by 2 :", mult_tup)

Enter a tuple : (2,4,6,8,10)

Each element multiplied by 2 : (4, 8, 12, 16, 20)

In [21]:
'''Q37 Create a tuple of random numbers.'''

import random 

lst = []
n = int(input("Enter number of elements you want in tuple :"))
for i in range(n) :
    lst.append(random.randint(0,100))
print("Tuple of random numbers :", tuple(lst))

Enter number of elements you want in tuple : 6

Tuple of random numbers : (95, 92, 16, 63, 2, 54)

In [9]:
'''Q38 Check if a tuple is sorted.'''

tup = eval(input("Enter a tuple :"))
if list(tup) == sorted(tup) :
    print("Tuple is sorted")
else :
    print("Tuple is not sorted")

Enter a tuple : (1,2,3,4)

Tuple is sorted

In [11]:
'''Q39 Rotate a tuple to the left by `n` positions.'''

tup = eval(input("Enter a tuple :"))
n = int(input("Enter number of positions to rotate tuple to the left :"))
lst = list(tup)
rotated_lst = lst[n:] + lst[0:n]
print(f"List rotated to left by {n} positions : {tuple(rotated_lst)}")

Enter a tuple : (1,2,3,4,5,6,7,8,9,10)
Enter number of positions to rotate tuple to the left : 3

List rotated to left by 3 positions : (4, 5, 6, 7, 8, 9, 10, 1, 2, 3)

In [12]:
'''Q40 Rotate a tuple to the right by `n` positions.'''

tup = eval(input("Enter a tup :"))
n = int(input("Enter number of positions to rotate tuple to the right :"))
lst = list(tup)
rotated_lst = lst[:n-1:-1] + lst[0:n]
print(f"List rotated to right by {n} positions : {tuple(rotated_lst)}")

Enter a tup : (1,2,3,4,5,6,7,8,9,10)
Enter number of positions to rotate tuple to the right : 3

List rotated to right by 3 positions : (10, 9, 8, 7, 6, 5, 4, 1, 2, 3)

In [19]:
'''Q41 Create a tuple of the first 5 Fibonacci numbers.'''

def fib_num(n) :
    lst = [0,1]
    for i in range(2,n) :
        next_fib_num = lst[i-1] + lst[i-2]
        lst.append(next_fib_num)
    return lst

n = int(input("Enter number of fibnacci numbers you want :"))
lst = fib_num(n)
print("Tuple of the first ",n ,"Fibnacci numbers :", tuple(lst))

Enter number of fibnacci numbers you want : 5

Tuple of the first  5 Fibnacci numbers : (0, 1, 1, 2, 3)

In [20]:
'''Q42 Create a tuple from user input.'''

tup = eval(input("Enter a tuple :"))
print("Tuple :", tup)

Enter a tuple : (1,2,3,4,5)

Tuple : (1, 2, 3, 4, 5)

In [21]:
'''Q43 Swap two elements in a tuple.'''

tup = eval(input("Enter a tuple :"))
ele_1 = int(input("Enter element 1 which you want to swap :"))
ele_2 = int(input("Enter element 2 which you want to swap :"))
index_1 = tup.index(ele_1)
index_2 = tup.index(ele_2)
lst = list(tup)
lst[index_1] = ele_2
lst[index_2] = ele_1
print("Tuple after updation :", tuple(lst))

Enter a tuple : (1,2,3,4,6,5,7,8,9,10)
Enter element 1 which you want to swap : 5
Enter element 2 which you want to swap : 6

Tuple after updation : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [23]:
'''Q44 Reverse the elements of a tuple.'''

tup = eval(input("Enter a tuple :"))
lst = list(tup)
reverse_tup = tuple(lst[::-1])
print("Reversed tuple :", reverse_tup)

Enter a tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Reversed tuple : (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [24]:
'''Q45 Create a tuple of the first `n` powers of 2.'''

n = int(input("Enter number of n powers of 2 you want :"))
lst = []
for i in range(n) :
    lst.append(2 ** i)
print(f"Tuple of first {n} powers of 2 : {tuple(lst)}")

Enter number of n powers of 2 you want : 10

Tuple of first 10 powers of 2 : (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [26]:
'''Q46 Find the longest string in a tuple of strings.'''

tup = eval(input("Enter a tuple of strings :"))
longest_string = max(list(map(lambda i : len(i) , list(tup))))
for i in list(tup) :
    if len(i) == longest_string :
        print("Longest string in tuple of strings :", i)

Enter a tuple of strings : ("Berlin","Tokyo","Paris","Rio")

Longest string in tuple of strings : Berlin

In [29]:
'''Q47 Find the shortest string in a tuple of strings.'''

tup = eval(input("Enter a tuple of strings :"))
shortest_string = min(list(map(lambda i : len(i) , list(tup))))
for i in list(tup) :
    if len(i) == shortest_string :
        print("Shortest string in tuple of strings :", i)

Enter a tuple of strings : ("Berlin","Tokyo","Paris","Rio")

Shortest string in tuple of strings : Rio

In [30]:
'''Q48 Create a tuple of the first `n` triangular numbers.'''

def triangular_numbers(n) :
    return [i * (i+1) // 2 for i in range(1,n+1)]

n = int(input("Enter number of first n triangular numbers you want :"))
lst = triangular_numbers(n)
print(f"List of the first {n} triangular numbers : {tuple(lst)}")

Enter number of first n triangular numbers you want : 6

List of the first 6 triangular numbers : (1, 3, 6, 10, 15, 21)

In [32]:
'''Q49 Check if a tuple contains another tuple as a subsequence.'''

def check_subsequence(tup , subsequence) :
    index = 0
    for i in tup :
        if i == subsequence[index] :
            index += 1
            if index == len(subsequence) :
                return True
    return False
            

tup = eval(input("Enter a tuple :"))              
subsequence = eval(input("Enter another tuple :")) 

result = check_subsequence(tup,subsequence)
if result :
    print("Tuple ccontains another tuple as subsequence")
else :
    print("Tuple does not contain another tuple as subsequence")

Enter a tuple : (1,2,3,4,5,6,7,8,9,10)
Enter another tuple : (1,6,9)

Tuple ccontains another tuple as subsequence

In [33]:
'''Q50 Create a tuple of alternating 1s and 0s of length `n`.'''

n = int(input("Enter length of tuple you want :"))
start = int(input("Do you want to start tuple with 0 or 1 :"))
lst = []
if start == 1 :
    for i in range(n) :
        lst.append(start)
        if len(lst) == n :
            break
        else :
            lst.append(0)
if start == 0 :
    for i in range(n) :
        lst.append(start)
        if len(lst) == n :
            break
        else :
            lst.append(1)
else :
    print("You entered an invalid number")

print(f"Tuple of alternating 1s and 0s of length {n} : {tuple(lst)}")

Enter length of tuple you want : 7
Do you want to start tuple with 0 or 1 : 0

Tuple of alternating 1s and 0s of length 7 : (0, 1, 0, 1, 0, 1, 0)

In [34]:
# Set Based Practice Problem :

In [1]:
'''Q1 Create a set with integers from 1 to 5.'''

my_set = set()
for i in range(1,6) :
    my_set.add(i)
print("Set with integers from 1 to 5 :", my_set)

Set with integers from 1 to 5 : {1, 2, 3, 4, 5}

In [2]:
'''Q2 Add an element to a set.'''

my_set = eval(input("Enter a set :"))
element = eval(input("Enter a element to add in set :"))
my_set.add(element)
print("Set after adding element :", my_set)

Enter a set : {"Berlin","Tokyo","Paris"}
Enter a element to add in set : "Rio"

Set after adding element : {'Berlin', 'Rio', 'Tokyo', 'Paris'}

In [3]:
'''Q3 Remove an element from a set.'''

my_set = eval(input("Enter a set :"))
element = eval(input("Enter a element to remove from set :"))
my_set.remove(element)
print("Set after removing element :", my_set)

Enter a set : {'Berlin', 'Rio', 'Tokyo', 'Paris'}
Enter a element to remove from set : "Rio"

Set after removing element : {'Berlin', 'Tokyo', 'Paris'}

In [4]:
'''Q4 Check if an element exists in a set.'''

my_set = eval(input("Enter a set :"))
element = eval(input("Enter an element to check it's existence :"))
if element in my_set :
    print(f"{element} exists in set")
else :
    print(f"{element} does not exist in set")

Enter a set : {'Berlin', 'Rio', 'Tokyo', 'Paris'}
Enter an element to check it's existence : "Tokyo"

Tokyo exists in set

In [6]:
'''Q5 Find the length of a set without using the `len()` function.'''

my_set = eval(input("Enter a set :"))
count = 0
for i in my_set :
    count += 1
print("Length of set :", count)

Enter a set : {'Berlin', 'Rio', 'Tokyo', 'Paris'}

Length of set : 4

In [7]:
'''Q6 Clear all elements from a set.'''

my_set = eval(input("Enter a set :"))
my_set.clear()
print("Set after clearing all elements :", my_set)

Enter a set : {'Berlin', 'Rio', 'Tokyo', 'Paris'}

Set after clearing all elements : set()

In [8]:
'''Q7 Create a set of even numbers from 1 to 10.'''

my_set = set()
for i in range(1,11) :
    if i%2 == 0 :
        my_set.add(i)
print("Set of even numbers from 1 to 10 :", my_set)

Set of even numbers from 1 to 10 : {2, 4, 6, 8, 10}

In [9]:
'''Q8 Create a set of odd numbers from 1 to 10.'''

my_set = set()
for i in range(1,11) :
    if i%2 != 0 :
        my_set.add(i)
print("Set of odd numbers from 1 to 10 :", my_set)

Set of odd numbers from 1 to 10 : {1, 3, 5, 7, 9}

In [11]:
'''Q9 Find the union of two sets.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
union = my_set_1.union(my_set_2)
print("Union of two sets :", union)

Enter 1st set : {2,4,6,3,5}
Enter 2nd set : {1,2,4,5,7,6}

Union of two sets : {1, 2, 3, 4, 5, 6, 7}

In [13]:
'''Q10 Find the intersection of two sets.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
intersection = my_set_1.intersection(my_set_2)
print("Union of two sets :", intersection)

Enter 1st set : {2,4,6,3,5}
Enter 2nd set : {1,2,4,5,7,6}

Union of two sets : {2, 4, 5, 6}

In [14]:
'''Q11 Find the difference between two sets.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
difference = my_set_1.difference(my_set_2)
print("Union of two sets :", difference)

Enter 1st set : {2,4,6,3,5}
Enter 2nd set : {1,2,4,5,7,6}

Union of two sets : {3}

In [4]:
'''Q12 Check if a set is a subset of another set.'''

my_set_1 = eval(input("Enter a set :"))
my_set_2 = eval(input("Enter another set :"))
if my_set_1.issubset(my_set_2) :
    print(f"{my_set_1} is a subset of {my_set_2}")
elif my_set_2.issubset(my_set_1) :
    print(f"{my_set_2} is a subset of {my_set_1}")
else :
    print("No set is a subset of another")

Enter a set : {1,2,3,4,5,6,7,8,9,10}
Enter another set : {3,4,5}

{3, 4, 5} is a subset of {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
'''Q13 Check if a set is a superset of another set.'''

my_set_1 = eval(input("Enter a set :"))
my_set_2 = eval(input("Enter another set :"))
if my_set_1.issuperset(my_set_2) :
    print(f"{my_set_1} is superset of {my_set_2}")
elif my_set_2.issuperset(my_set_1) :
    print(f"{my_set_2} is superset of {my_set_1}")
else :
    print("No set is superset of another")

Enter a set : {1,2,3,4,5,6,7,8,9,10}
Enter another set : {3,4,5}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} is superset of {3, 4, 5}

In [9]:
'''Q14 Create a set from a list.'''

lst = eval(input("Enter a list :"))
my_set = set(lst)
print("Conversion of list to set :", my_set)

Enter a list : [1,2,3,4,5,6,7,8,9,10]

Conversion of list to set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
'''Q15 Convert a set to a list.'''

my_set = eval(input("Enter a set :"))
lst = list(my_set)
print("Conversion of set to list :", lst)

Enter a set : {1,2,3,4,5,6,7,8,9,10}

Conversion of set to list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
'''Q16 Remove a random element from a set.'''

import random

my_set = eval(input("Enter a set :"))
element = random.choice(list(my_set))
my_set.remove(element)
print("Set after removing random element :", my_set)

Enter a set : {1,2,3,4,5,6,7,8,9,10}

Set after removing random element : {1, 2, 3, 4, 6, 7, 8, 9, 10}

In [14]:
'''Q17 Pop an element from a set.'''

my_set = eval(input("Enter a set :"))
element_popped = my_set.pop()
print("Popped element :", element_popped)
print("Set after popping out an element :", my_set)

Enter a set : {1,2,3,4,5,6,7,8,9,10}

Popped element : 1
Set after popping out an element : {2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
'''Q18 Check if two sets have no elements in common.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
result = my_set_1.intersection(my_set_2)
            
if result :
    print("Both sets have some common elements")
else :
    print("Both sets have no common elements")

Enter 1st set : {1,2,3,4,5,6,7,8,9,10}
Enter 2nd set : {11,12,13}

Both sets have no common elements

In [23]:
'''Q19 Find the symmetric difference between two sets.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
sym_diff = my_set_1.symmetric_difference(my_set_2)
print("Symmetric difference :", sym_diff)

Enter 1st set : {1,2,3,4,5,6,7,8,9,10}
Enter 2nd set : {3,5,7}

Symmetric difference : {1, 2, 4, 6, 8, 9, 10}

In [24]:
'''Q20 Update a set with elements from another set.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
my_set_1.update(my_set_2)
print(f"Set after updation {my_set_1}")

Enter 1st set : {1,2,3,4,5,6,7,8,9,10}
Enter 2nd set : {11,13,15,12}

Set after updation {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15}

In [26]:
'''Q21 Create a set of the first 5 prime numbers.'''

def check_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1) :
        if num % i == 0 :
            return False
    return True

n = int(input("Enter number of first prime numbers you want(max 100) :"))
prime_num_lst = [num for num in range(2, 100) if check_prime(num)][:n]

print("Tuple of the first 5 prime numbers:", set(prime_num_lst))

Enter number of first prime numbers you want(max 100) : 5

Tuple of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [27]:
'''Q22 Check if two sets are identical.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
if my_set_1 == my_set_2 :
    print("Both sets are identical")
else :
    print("Both sets are not identical")

Enter 1st set : {1,2,3}
Enter 2nd set : {1,2,3}

Both sets are identical

In [28]:
'''Q23 Create a frozen set.'''

lst = eval(input("Enter a list :"))
frozen_set = frozenset(lst)
print("Frozen Set :", frozen_set)

Enter a list : [2,4,6,8,10]

Frozen Set : frozenset({2, 4, 6, 8, 10})

In [30]:
'''Q24 Check if a set is disjoint with another set.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
if my_set_1.isdisjoint(my_set_2) :
    print("Given sets are disjoint")
else :
    print("Given sets are not disjoint")

Enter 1st set : {1,2,3}
Enter 2nd set : {4,5,6}

Given sets are disjoint

In [33]:
'''Q25 Create a set of squares of numbers from 1 to 5.'''

my_set = set(map(lambda i : i**2 , (j for j in range(1,6))))
print("Set of squares of numbers from 1 to 5 :", my_set)

Set of squares of numbers from 1 to 5 : {1, 4, 9, 16, 25}

In [34]:
'''Q26 Filter out all even numbers from a set.'''

my_set = eval(input("Enter a set :"))
even_set = set()
for i in my_set :
    if i%2 == 0 :
        even_set.add(i) 

print("Set of even numbers :", even_set)

Enter a set : {1,2,3,4,5,6,7,8,9,10}

Set of even numbers : {2, 4, 6, 8, 10}

In [35]:
'''Q27 Multiply all elements in a set by 2.'''

my_set = eval(input("Enter a set :"))
mult_set = set(map(lambda i : i*2 , my_set))
print("Set after updation :", mult_set)

Enter a set : {1,2,3,4,5,6,7,8,9,10}

Set after updation : {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [36]:
'''Q28 Create a set of random numbers.'''

import random 

my_set = set()
n = int(input("Enter length of set which you want :"))
for i in range(n) :
    my_set.add(random.randint(1,100))

print("Set of random numbers :", my_set)

Enter length of set which you want : 6

Set of random numbers : {32, 28, 89, 92, 25}

In [37]:
'''Q29 Check if a set is empty.'''

my_set = eval(input("Enter a set :"))
if len(my_set) == 0 :
    print("Set is empty")
else :
    print("Set is not empty")

Enter a set : {}

Set is empty

In [38]:
'''Q30 Create a nested set (hint: use frozenset).'''

my_set_1 = eval(input("Enter 1st set"))
my_set_2 = eval(input("Enter 2nd set"))

frozen_set_1 = frozenset(my_set_1)
frozen_set_2 = frozenset(my_set_2)
nested_set = {frozen_set_1, frozen_set_2}

print("Nested set:", nested_set)

Enter 1st set {2,4,6,8,10}
Enter 2nd set {1,2,3,4,5}

Nested set: {frozenset({2, 4, 6, 8, 10}), frozenset({1, 2, 3, 4, 5})}

In [6]:
'''Q31 Remove an element from a set using the discard method.'''

my_set = eval(input("Enter a set :"))
element = int(input("Enter element which you want to discard :"))
my_set.discard(element)
print("Set after removing an element :", my_set)

Enter a set : {1,2,3,4,5,6,7,8,9,10}
Enter element which you want to discard : 5

Set after removing an element : {1, 2, 3, 4, 6, 7, 8, 9, 10}

In [7]:
'''Q32 Compare two sets.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))

check_subset = my_set_1.issubset(my_set_2)
check_superset = my_set_1.issuperset(my_set_2)
check_intersection = my_set_1.intersection(my_set_2)
union = my_set_1.union(my_set_2)
difference_1 = my_set_1.difference(my_set_2)
difference_2 = my_set_2.difference(my_set_1)

print("Set 1:", my_set_1)
print("Set 2:", my_set_2)
print("Is set 1 a subset of set 2?", check_subset)
print("Is set 2 a subset of set 1?", check_superset)
print("Intersection:", check_intersection)
print("Union:", union)
print("Elements in set 1 but not in set 2:", difference_1)
print("Elements in set 2 but not in set 1:", difference_2)

Enter 1st set : {1,2,3,4,6}
Enter 2nd set : {2,3,4,5,1}

Set 1: {1, 2, 3, 4, 6}
Set 2: {1, 2, 3, 4, 5}
Is set 1 a subset of set 2? False
Is set 2 a subset of set 1? False
Intersection: {1, 2, 3, 4}
Union: {1, 2, 3, 4, 5, 6}
Elements in set 1 but not in set 2: {6}
Elements in set 2 but not in set 1: {5}

In [8]:
'''Q33 Create a set from a string.'''

string = input("Enter a string :")
print("Conversion of string to set :", set(string))

Enter a string : My name is Akshat Saxena .

Conversion of string to set : {'t', '.', 's', 'k', 'M', 'a', 'n', 'i', 'y', 'h', 'S', ' ', 'm', 'A', 'e', 'x'}

In [2]:
'''Q34 Convert a set of strings to a set of integers.'''

str_set = eval(input("Enter a set of strings :"))
set_int = set(map(lambda i : int(i) , list(str_set)))
print("Conversion of set of strings to set of integers :", set_int)

Enter a set of strings : {"1","2","3","4"}

Conversion of set of strings to set of integers : {1, 2, 3, 4}

In [3]:
'''Q35 Convert a set of integers to a set of strings.'''

int_set = eval(input("Enter a set of integers :"))
set_str = set(map(lambda i : str(i) , list(int_set)))
print("Conversion of set of integers to set of strings :", set_str)

Enter a set of integers : {1, 2, 3, 4}

Conversion of set of integers to set of strings : {'4', '1', '2', '3'}

In [4]:
'''Q36 Create a set from a tuple.'''

tup = eval(input("Enter a tuple :"))
my_set = set(tup)
print("Set from a tuple :", my_set)

Enter a tuple : (1,2,3,4,5)

Set from a tuple : {1, 2, 3, 4, 5}

In [5]:
'''Q37 Convert a set to a tuple.'''

my_set = eval(input("Enter a set :"))
tup = tuple(my_set)
print("Tuple from a set :", tup)

Enter a set : {1,2,3,4,5,6}

Tuple from a set : (1, 2, 3, 4, 5, 6)

In [6]:
'''Q38 Find the maximum value in a set.'''

my_set = eval(input("Enter a set :"))
lst = list(my_set)
max_num = max(lst)
print("Maximum value in set :", max_num)

Enter a set : {1,3,4,5,6,7,89,23}

Maximum value in set : 89

In [7]:
'''Q39 Find the minimum value in a set.'''

my_set = eval(input("Enter a set :"))
lst = list(my_set)
min_num = min(lst)
print("Minimum value in set :", min_num)

Enter a set : {1,3,4,5,6,7,89,23}

Minimum value in set : 1

In [8]:
'''Q40 Create a set from user input.'''

my_set = eval(input("Enter a set :"))
print("Set :", my_set)

Enter a set : {1,3,4,5,6,7,89,23}

Set : {1, 3, 4, 5, 6, 7, 23, 89}

In [11]:
'''Q41 Check if the intersection of two sets is empty.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
if my_set_1.intersection(my_set_2) :
    print("Inbtersection of two sets is not a empty set")
else :
    print("Inbtersection of two sets is a empty set")

Enter 1st set : {1,2,3}
Enter 2nd set : {4,5}

Inbtersection of two sets is a empty set

In [19]:
'''Q42 Create a set of the first 5 Fibonacci numbers.'''

n = int(input("Enter number of Fibonacci numbers you want in set (n +1) :"))
x , y = 0 , 1  # initializing first two fibonacci numbers
fib_set = set()
for i in range(n) :
    fib_set.add(x)
    x , y = y , x+y

print(f"Set of first {n} Fibonacci numbers : {fib_set}")

Enter number of Fibonacci numbers you want in set (n +1) : 6

Set of first 6 Fibonacci numbers : {0, 1, 2, 3, 5}

In [21]:
'''Q43 Remove duplicates from a list using sets.'''

lst = eval(input("Enter a list :"))
dup_set = set(lst)
remove_duplicated_lst = list(dup_set)
print("List after removing duplicate values :", remove_duplicated_lst)

Enter a list : [1,2,3,3,3,6,7,8,5,55,5,5,6,6,8,8]

List after removing duplicate values : [1, 2, 3, 5, 6, 7, 8, 55]

In [3]:
'''Q44 Check if two sets have the same elements, regardless of their count.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))

sorted_lst_1 = sorted(list(my_set_1))
sorted_lst_2 = sorted(list(my_set_2))


if sorted_lst_1 == sorted_lst_2 :
    print("Both sets have the same elements")
else:
    print("Both sets do not have the same elements")

Enter 1st set : {4,5,6,4,6}
Enter 2nd set : {4,5,6}

Both sets have the same elements

In [6]:
'''Q45 Create a set of the first `n` powers of 2.'''

n = int(input("Enter number of powers of n you want :"))
my_set = set()
for i in range(n) :
    my_set.add(2**i)
print(f"Set of first {n} powers of 2 : {my_set}")

Enter number of powers of n you want : 10

Set of first 10 powers of 2 : {32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

In [7]:
'''Q46 Find the common elements between a set and a list.'''

my_set = eval(input("Enter a set :"))
lst = eval(input("Enter a list :"))
print("Common elements between set and list :")
for i in my_set :
    for j in lst :
        if i == j :
            print(i)

Enter a set : {1,2,3,4,5,6,7,8,9,10}
Enter a list : [3,5,7,9,11]

Common elements between set and list :
3
5
7
9

In [8]:
'''Q47 Create a set of the first `n` triangular numbers.'''

def triangular_numbers(n) :
    return [i * (i+1) // 2 for i in range(1,n+1)]

n = int(input("Enter number of first n triangular numbers you want :"))
lst = triangular_numbers(n)
print(f"Set of the first {n} triangular numbers : {set(lst)}")

Enter number of first n triangular numbers you want : 6

Set of the first 6 triangular numbers : {1, 3, 6, 10, 15, 21}

In [10]:
'''Q48 Check if a set contains another set as a subset.'''

my_set_1 = eval(input("Enter a set :"))
my_set_2 = eval(input("Enter another set :"))
if my_set_1.issubset(my_set_2) :
    print(f"{my_set_1} is a subset of {my_set_2}")
elif my_set_2.issubset(my_set_1) :
    print(f"{my_set_2} is a subset of {my_set_1}")
else :
    print("No set is a subset of another")

Enter a set : {1,2,3,4,5,6,7,8}
Enter another set : {2,3,4}

{2, 3, 4} is a subset of {1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
'''Q49 Create a set of alternating 1s and 0s of length `n`.'''

n = int(input("Enter length of set you want :"))
my_set = set()
for i in range(n) :
        my_set.add(1)
        if len(my_set) == n :
            break
        else :
            my_set.add(0)

print(f"Set of alternating 1s and 0s of length {n} : {my_set}")

Enter length of set you want : 10

Set of alternating 1s and 0s of length 10 : {0, 1}

In [17]:
'''Q50 Merge multiple sets into one.'''

my_set_1 = eval(input("Enter 1st set :"))
my_set_2 = eval(input("Enter 2nd set :"))
my_set_3 = eval(input("Enter 3rd set :"))

merge = my_set_1.union(my_set_2 , my_set_3)
print("Merged sets :", merge)

Enter 1st set : {1,2,3}
Enter 2nd set : {4,5,6}
Enter 3rd set : {7,8,9,10}

Merged sets : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}